<ion-content>

  <div class="fundo">
    <table>
      <tr>
        <td class="left">

          <ion-fab-button href="../inicial/" size="small">
            <ion-icon color="success" name="arrow-back" class="mais"></ion-icon>
          </ion-fab-button>



        </td>
        <td class="right"><img src="..\assets\room.png" width="60" alt="logo"></td>
      </tr>
    </table>


    <app-menu></app-menu>
    <div id="main-content">

      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-label color="dark"><strong>MORADORES</strong></ion-label>

      </ion-toolbar>

      <ion-list lines="inset">
        <ion-item color="medium" *ngFor="let morador of moradores">
          <ion-label>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label><br><strong>{{morador.name}}</strong></ion-label>
            <ion-label>{{morador.email}}</ion-label>
            <ion-label>{{morador.profession}}</ion-label>
          </ion-label>
        </ion-item>
        <ion-item color="medium">
          <ion-label>
            <ion-fab *ngIf="isAdmin">
              <ion-fab-button color="success" id="open-modal" expand="block">
                <ion-icon name="add" class="mais"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-label>
        </ion-item>

        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" color="medium">
              <ion-item>
                <ion-label class="informativo">
                  Envie o código da casa para o novo morador
                </ion-label>
              </ion-item>
              <ion-item color="dark">
                <ion-label class="codigoCasa">#RM467612</ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="informativo">
                  Clique no código para copiar
                </ion-label>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>


      </ion-list>


    </div>


  </div>
</ion-content>