<ion-content>
  <div class="fundo">

    <table>
      <tr>
        <td class="left">
          <ion-button fill="clear" size="large"  href="../home/">
            <ion-icon name="arrow-back-circle" color="primary"></ion-icon>
          </ion-button>
      </td>
        <td class="right"><img src="..\assets\room.png" width="60" alt="logo"></td>
      </tr>
    </table>
    <div class="tituloPrincipal"><strong>LOGIN</strong> </div>

    <ion-grid>
      <ion-row class="form">
        <ion-item lines="none">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="form">
        <ion-item lines="none">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-row>
    </ion-grid>

    <ion-button shape="round" expand="full" class="botaoPrincipal" color="success" href="../inicial/">Entrar</ion-button>
  </div>
</ion-content>
