<ion-menu contentId="main-content" class="menu">

  <div class="botaoMenu">
    <div class="tituloPrincipal">
      <strong>MENU</strong>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../inicial/">
        Tela Inicial
        <ion-icon name="home-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../despesas/">
        Despesas
        <ion-icon name="file-tray-full-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../agenda/">
        Agenda
        <ion-icon name="calendar-number-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../enquetes/">
        Enquetes
        <ion-icon name="help-circle-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../regras/">
        Regras da casa
        <ion-icon name="alert-circle-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../moradores/">
        Moradores
        <ion-icon name="people-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../visitantes/">
        Visitantes
        <ion-icon name="person-add-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="botaoMenu">
      <ion-button fill="clear" href="../configuracoes/">
        Configurações
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>



</ion-menu>