<ion-content>

  <div class="fundo">
    <table>
      <tr>
        <td class="left">

          <ion-fab-button href="../inicial/" size="small">
            <ion-icon color="success" name="arrow-back" class="mais"></ion-icon>
          </ion-fab-button>



        </td>
        <td class="right"><img src="..\assets\room.png" width="60" alt="logo"></td>
      </tr>
    </table>


    <app-menu></app-menu>
    <div id="main-content">

      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-label color="dark"><strong>ENQUETES</strong></ion-label>

      </ion-toolbar>

    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Questão 1: Here's a small text description for the card content. Nothing more, nothing
          less.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
              <ion-select-option value="apples">Apples</ion-select-option>
              <ion-select-option value="oranges">Oranges</ion-select-option>
              <ion-select-option value="bananas">Bananas</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Questão 2: Here's a small text description for the card content. Nothing more, nothing
          less.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
              <ion-select-option value="apples">Apples</ion-select-option>
              <ion-select-option value="oranges">Oranges</ion-select-option>
              <ion-select-option value="bananas">Bananas</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-fab>
      <ion-fab-button color="success" id="open-modal" expand="block">
        <ion-icon name="add" class="mais"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Welcome</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>

          </ion-item>
          <ion-textarea label="Outline textarea" labelPlacement="floating" fill="outline"
            placeholder="Informe aqui a questão da enquete"></ion-textarea>
          <ion-item>
            <ion-label position="stacked">Opção 1:</ion-label>
            <ion-input type="text" placeholder="Valor" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Opção 2:</ion-label>
            <ion-input type="text" placeholder="Valor" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Opção 3:</ion-label>
            <ion-input type="text" placeholder="Valor" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">VENCIMENTO:</ion-label>
            <ion-input type="text" placeholder="Valor" [(ngModel)]="name"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>


  </div>
</ion-content>