<ion-content>

  <div class="fundo">
    <table>
      <tr>
        <td class="left">

          <ion-fab-button href="../inicial/" size="small">
            <ion-icon color="success" name="arrow-back" class="mais"></ion-icon>
          </ion-fab-button>



        </td>
        <td class="right"><img src="..\assets\room.png" width="60" alt="logo"></td>
      </tr>
    </table>

    <app-menu></app-menu>
    <div id="main-content">

      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-label color="dark"><strong>DESPESAS</strong></ion-label>

      </ion-toolbar>


      <!-- <ion-grid>
        <ion-row>
          <ion-breadcrumb href="#home">
            <ion-icon slot="start" name="home"></ion-icon>
            Aluguel<br>
          </ion-breadcrumb>
        </ion-row>
        <ion-row>
          <ion-breadcrumb href="#electronics">
            <ion-icon slot="start" name="flash"></ion-icon>
            Luz
          </ion-breadcrumb>
        </ion-row>
        <ion-row>
          <ion-breadcrumb href="#cameras">
            <ion-icon slot="start" name="wifi-sharp"></ion-icon>
            Internet
          </ion-breadcrumb>
        </ion-row>
        <ion-row>
          <ion-breadcrumb href="#film">
            <ion-icon slot="start" name="water-sharp"></ion-icon>
            Água
          </ion-breadcrumb>
        </ion-row>
        <ion-row>
          <ion-breadcrumb href="#film">
            <ion-icon slot="start" name="documents-sharp"></ion-icon>
            Outros
          </ion-breadcrumb>
        </ion-row>
        <ion-row>


        </ion-row>
      </ion-grid> -->
      <ion-card>

        <ion-grid>
          <ion-row class="tituloTabela">
            <ion-col size="4">Descrição</ion-col>
            <ion-col size="3.5">Vencto</ion-col>
            <ion-col size="4">Valor</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>

          <a href="#home" *ngFor="let despesa of despesas">
            <ion-row>
              <ion-col size="4">{{despesa.description}}</ion-col>
              <ion-col size="3.5">{{despesa.due_date | date: 'dd-MM-yyyy'}}</ion-col>
              <ion-col size="4">{{despesa.value | currency: 'R$'}}</ion-col>
            </ion-row>
          </a>

        </ion-grid>

      </ion-card>
      <br>
      <ion-fab *ngIf="isAdmin">
        <ion-fab-button color="success" id="open-modal" expand="block">
          <ion-icon name="add" class="mais"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <form [formGroup]="despesaForm">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>

                <ion-grid>
                  <ion-row class="Opcoes">
                    <ion-col>Tipo:</ion-col>
                    <ion-col>
                      <ion-list>
                        <ion-item>
                          <ion-select formControlName="description" aria-label="fruit" interface="popover"
                            placeholder="Select fruit">
                            <ion-select-option value="apples">Aluguel</ion-select-option>
                            <ion-select-option value="oranges">Internet</ion-select-option>
                            <ion-select-option value="bananas">Água</ion-select-option>
                            <ion-select-option value="bananas">Outros</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>

                    </ion-col>
                  </ion-row>

                </ion-grid>


              </ion-item>
              <ion-item>
                <ion-label position="stacked">Vencimento:</ion-label>
                <ion-input formControlName="due_date" type="date" placeholder="Data de vencimento"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Valor:</ion-label>
                <ion-input formControlName="value" type="number" placeholder="Valor"></ion-input>
              </ion-item>
            </ion-content>
          </ng-template>
        </form>
      </ion-modal>



    </div>
  </div>
</ion-content>