
<ion-content>

  <table>
    <tr>
      <td class="left">
        <ion-button fill="clear" size="large" href="../home/">
          <ion-icon name="arrow-back-circle" color="primary"></ion-icon>
        </ion-button>
    </td>
      <td class="right"><img src="..\assets\uepb.png" width="60" alt="logo"></td>
    </tr>
  </table>

<ion-card>
  <img alt="Silhouette of mountains" src="..\assets\room.png" width="100"/>
  <ion-card-header>
    <ion-card-title>Autor:<br> Rafael de Medeiros Silva</ion-card-title>
    <ion-card-subtitle>UNIVERSIDADE ESTADUAL DA PARAÍBA<br>
      CAMPUS I - CAMPINA GRANDE<br>
    CENTRO DE CIÊNCIAS E TECNOLOGIA<br><br>
    CURSO DE BACHARELADO EM CIÊNCIAS DA COMPUTAÇÃO</ion-card-subtitle><br>
    <strong> RoomMate:</strong> Uma aplicação para gerenciamento de compromissos de uma casa compartilhada por colegas de quarto
  </ion-card-header>

  <ion-card-content>
    CAMPINA GRANDE
2023
  </ion-card-content>
</ion-card>


</ion-content>
