<ion-content>

  <div class="fundo">
    <table>
      <tr>
        <td class="left">

          <ion-fab-button href="../inicial/" size="small">
            <ion-icon color="success" name="arrow-back" class="mais"></ion-icon>
          </ion-fab-button>



        </td>
        <td class="right"><img src="..\assets\room.png" width="60" alt="logo"></td>
      </tr>
    </table>


    <app-menu></app-menu>
    <div id="main-content">

      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-label color="dark"><strong>REGRAS</strong></ion-label>

      </ion-toolbar>

      <ion-card *ngFor="let regra of regras; let i = index">
        <ion-card-header>
          <ion-card-subtitle>
            <h4>Regra {{i + 1}}: </h4><br>
            {{regra.description}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="button-wrapper">
          <ion-button shape="round" expand="full" class="botaoPrincipal" color="success" *ngIf="!isAceppted(regra)"
            (click)="acceptRule(regra.id)">Li e concordo</ion-button>
          <ion-button shape="round" class="aceito" color="success" *ngIf="isAceppted(regra)">Aceito</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-fab *ngIf="isAdmin">
        <ion-fab-button color="success" id="open-modal" expand="block">
          <ion-icon name="add" class="mais"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <form [formGroup]="createRegra">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>

              </ion-item>
              <ion-textarea formControlName="description" label="Outline textarea" labelPlacement="floating"
                fill="outline" placeholder="Informe aqui a nova regra"></ion-textarea>

            </ion-content>
          </ng-template>
        </form>
      </ion-modal>

    </div>
  </div>
</ion-content>