<ion-content [fullscreen]="true" class="center">
  <ion-header collapse="condense">

  </ion-header>

    <div class="fundo">
      <div class="tituloPrincipal">
        <strong>Gerenciando a casa de forma simples!</strong>
      </div>

      <img src="..\assets\room.png" alt="logo">
      <ion-button shape="round" expand="full" href="../login/" class="botaoPrincipal"
        href="../login/">Login</ion-button>
      <ion-button shape="round" expand="full" color="light" href="../inicial/"
        class="botaoSecundario"  href="../cadastro/">Cadastrar</ion-button>
      <a href="../termos/">Sobre</a>
    </div>

</ion-content>
