<ion-content>







  <div class="fundo">
    <table>
      <tr>

        <td class="right"><img src="..\assets\room.png" width="60" alt="logo"></td>
      </tr>
    </table>


    <ion-menu contentId="main-content" class="menu">

      <div class="botaoMenu">
        <div class="tituloPrincipal">
          <strong>MENU</strong>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../inicial/">
            Tela Inicial
            <ion-icon name="home-sharp"></ion-icon>
          </ion-button>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../despesas/">
            Despesas
            <ion-icon name="file-tray-full-sharp"></ion-icon>
          </ion-button>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../agenda/">
            Agenda
            <ion-icon name="calendar-number-sharp"></ion-icon>
          </ion-button>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../enquetes/">
            Enquetes
            <ion-icon name="help-circle-sharp" ></ion-icon>
          </ion-button>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../regras/">
            Regras da casa
            <ion-icon name="alert-circle-sharp" ></ion-icon>
          </ion-button>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../moradores/">
            Moradores
            <ion-icon name="people-sharp" ></ion-icon>
          </ion-button>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../visitantes/">
            Visitantes
            <ion-icon name="person-add-sharp" ></ion-icon>
          </ion-button>
        </div>
        <div class="botaoMenu">
          <ion-button fill="clear" href="../configuracoes/">
            Configurações
            <ion-icon name="settings-sharp" ></ion-icon>
          </ion-button>
        </div>
      </div>



    </ion-menu>
    <div id="main-content">

        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-searchbar placeholder="Pesquisar"></ion-searchbar>

        </ion-toolbar>

    </div>



    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">Contas a vencer:</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description.
      </ion-card-content>
      <ion-card-content>
        Nothing more, nothing less.
      </ion-card-content>
      <ion-button fill="clear" size="small" class="right" href="../home/">
        VER TODAS AS CONTAS
      </ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">Compromissos de hoje:</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description.
      </ion-card-content>
      <ion-card-content>
        Nothing more, nothing less.
      </ion-card-content>
      <ion-button fill="clear" size="small" class="right" href="../home/">
        VER AGENDA COMPLETA
      </ion-button>
    </ion-card>


  </div>
</ion-content>
