<ion-content>







  <div class="fundo">
    <table>
      <tr>

        <td class="right"><img src="..\assets\room.png" width="60" alt="logo"></td>
      </tr>
    </table>


    <app-menu></app-menu>
    <div id="main-content">

      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-searchbar placeholder="Pesquisar"></ion-searchbar>

      </ion-toolbar>

    </div>



    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">Contas a vencer:</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description.
      </ion-card-content>
      <ion-card-content>
        Nothing more, nothing less.
      </ion-card-content>
      <ion-button fill="clear" size="small" class="right" href="../home/">
        VER TODAS AS CONTAS
      </ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">Compromissos de hoje:</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description.
      </ion-card-content>
      <ion-card-content>
        Nothing more, nothing less.
      </ion-card-content>
      <ion-button fill="clear" size="small" class="right" href="../home/">
        VER AGENDA COMPLETA
      </ion-button>
    </ion-card>


  </div>
</ion-content>